@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "grid";
@import "datepicker";
@import "home";
@import "results";



body {
  font-family: 'Roboto', sans-serif;
  background: #0f0449;
}

header{
  padding: 17Px 0;
  overflow: auto;
  .logo{
    display: inline-block;
    float: left;
    color: white;
  }
  .menu{
    display: inline-block;
    float:right;
    a{
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      border-radius: 3px;
      border: 1px solid #304ffe;
      transition: all .5s ease-in-out;
      &:hover{
        background: #304ffe;

      }
    }
  }
}
.main-btn{
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid #304ffe;
  transition: all .5s ease-in-out;
  &:hover{
    background: #304ffe;
  }
  &.active{
    background: #304ffe;
  }
}

footer{
  padding: 17px 0;
  margin-top: 20%;
  .copyright-area{
    display: inline-block;
    float: left;
    color: white;
    margin-top: 30px;

  }
  .footer-social-icons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    float:right;

  }
}

.footer-social-icons .tooltip a img:hover {
  color: #52b8ff;
}

.footer-social-icons a img {
  width: 30px;
  height: 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding: 15px;
}

.tooltip .tooltiptext {
  padding: 5px;
  visibility: hidden;
  width: auto;
  background-color: #304ffe;
  color: white;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  /* z-index: 1; */
  bottom: 100%;
  left: 50%;
  margin-left: -44px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #304ffe transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
